<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel='stylesheet' href='/static/css/style2.css'/>
</head>

<body>


    <div class="directions" text-center id="directions">
        <h1>Submit Game Result</h1>
        <p>If you don't log it, it never happened.</p>
    </div>
    <br>


      <form id="ajax-contact" method="post">
          <div class="field">
              <label for="winner">Winner: <br></label>
              <input type="text" id="winner" name="winner"><br>
          </div>

          <div class="field">
              <label for="loser">Loser: <br></label>
              <input type="text" id="loser" name="loser"><br>
          </div>

          <div class="field">
              <label for="score">Final score: <br></label>
              <input type="text" id="score" name="score"><br>
          </div>

          <div class="field">
              <label for="date">Date of match: <br></label>
              <input type="text" id="match_date" name="match_date"><br>
          </div>

          <div class="field">
              <label for="who_entered">Your name: <br></label>
              <input type="text" id="who_entered" name="who_entered"><br>
          </div>

          <div class="field">
              <label for="who_challenged">Challenger: <br></label>
              <input type="text" id="who_challenged" name="who_challenged"><br>
          </div>
      </form>

  <div id="form-messages"></div>

  <div>
    <button id="submit">Submit</button>
  </div>

  <a href={{url_for('get_leaderboard')}}>Take me to the Leaderboard</a>

</body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
  $('#submit').click(() => {
      get_result();}
  );

  function get_result(){

    let result = {
      "winner": $('#winner').val(),
      "loser": $('#loser').val(),
      "score": $('#score').val(),
      "match_date": $('#match_date').val(),
      "who_entered": $('#who_entered').val(),
      "who_challenged": $('#who_challenged').val()
    }

    console.log(result)

    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: "/api/submit_result",  // Replace with URL of POST handler
      dataType: "json",
      async: true,
      data: JSON.stringify(result),
      success: (result) => {
        $('#form-messages').text(result);
        $('#winner').val('');
        $('#loser').val('');
        $('#score').val('');
        $('#match_date').val('');
        $('#who_entered').val('');
        $('#who_challenged').val('');
      },

      error: (result) => {
          console.log(result);
        alert('You did something wrong.');
      }
    })
  }
  </script>

</html>
