<html>
<title>Leaderboard</title>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel='stylesheet' href='/static/css/style.css'/>
</head>

<body>

<div class="explanation" text-center id='description'>
    <!-- style='margin-bottom'> -->
    <h1>Ping Pong Leaderboard<h1>
    <p>This page dictates who laughs and who cries.</p>
</div>
<br>

<div class="container">
<table class="leaderboard" id="leader" cellpadding="5">
    <tr align="left">
        <th>Person</th>
        <th>Record</th>
        <th>Previous Rank</th>
    </tr>

        {% for item in ranks %}
    <tr align="left">
        <td>{{item.id}}</td>
        <td>{{item.record}}</td>
        <td>{{item.previous_rank}}</td>
    </tr>
        {% endfor %}

</table>
</div>

<div class="shenanigans" text-center id='shenanigans'>
<h2>Lies and Slander?</h2>
<p>Do you think this table is a lie?</p>
<p>Do you have bouts of uncontrollable rage every time Jen beats you?</p>
</div>
</body>
</html>
