<html>
<title>Game Records</title>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel='stylesheet' href='/static/css/style.css'/>
</head>

<body>

<div class="explanation" text-center id='description'>
    <!-- style='margin-bottom'> -->
    <h1>Match History</h1>
    <p>Here are all of {{username}}'s matches.</p>
</div>
<br>

<div class="container">
<table class="matches" id="matches" cellpadding="5">
    <tr align="left">
        <th>Date</th>
        <th>Score</th>
        <th>Winner</th>
        <th>Loser</th>
        <th>User Rank</th>
    </tr>

        {% if matches | length > 0 %}
          {% for item in matches %}
            <tr align="left">
                <td>{{item.date}}</td>
                <td>{{item.score}}</td>
                <td> <a href="{{url_for('get_matches', username=item.winner)}}">{{item.winner}}</a></td>
                <td> <a href="{{url_for('get_matches', username=item.loser)}}">{{item.loser}}</a></td>
                <td>{{item.rank_of_user}}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr align="center">
            <td colspan="5">You've played no matches</td>
          </tr>
        {% endif %}
    </div>

</table>
  <a href={{url_for('get_leaderboard')}}>Take me to the Leaderboard</a>

</body>
</html>
